html {
	flex-direction: column;
}
html,
body {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: center;
	align-items: center;
}

body {
	background-color: transparent;
	margin: 0;
	height: 100vh;
	overflow: hidden;
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
	height: 100vh;
	--bodymargin: 10px;
	--min: min(100vw);
	--hContent: var(--min);
	--wContent: var(--min);
}
canvas.p5Canvas {
	display: block;
	padding-left: 0;
	padding-right: 0;
	padding-top: 0;
	padding-bottom: 0;
	margin-left: auto;
	margin-right: auto;
	margin-top: 0;
	margin-bottom: 0;
	height: auto !important; /* Maintain auto height */
	width: auto !important; /* Maintain auto width */
	aspect-ratio: attr(data-aspect-ratio); /* Use a custom attribute for aspect ratio */
	max-width: calc(min(100vh, 100vw) * 1); /* 5% smaller than the smallest axis */
	max-height: calc(min(100vh, 100vw) * 1); /* 5% smaller than the smallest axis */
	max-height: 100vh;
	height: 100% !important;
	animation: rotate 1s steps(32) infinite;
}

/* having fun here */

main {
	height: 87dvh;
	display: flex;
	align-items: center;
	/* border: 8px solid rgb(32, 22, 0); */
	justify-content: center;
	/*box-shadow: 2.8px 2.8px 2.2px rgba(0, 0, 0, 0.118), 6.7px 6.7px 5.3px rgba(0, 0, 0, 0.119), 12.5px 12.5px 10px rgba(0, 0, 0, 0.115), 22.3px 22.3px 17.9px rgba(0, 0, 0, 0.11),
		41.8px 41.8px 33.4px rgba(0, 0, 0, 0.105), 100px 100px 80px rgba(0, 0, 0, 0.1);*/
	position: relative;
	transform: rotate(0) scale(1);
	/* height: calc(min(100vh, 100vw) * 1); 5% smaller than the smallest axis
	/* width: calc(min(100vh, 100vw) * 1); 5% smaller than the smallest axis */
	aspect-ratio: attr(data-aspect-ratio); /* Use a custom attribute for aspect ratio */
}

.guide-container {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	pointer-events: none;
	display: none;
}

.guide-container.show {
	display: block;
}

.guide-container::before {
	content: "";
	display: block;
	position: absolute;
	background: black;
	height: 1027px;
	width: 1px;
	left: 50%;
	top: 0;
	bottom: 0;
	margin: auto;
	transform: translateX(-50%);
}

.guide-container::after {
	content: "";
	display: block;
	position: absolute;
	background: black;
	height: 1px;
	width: 770px;
	top: 50%;
	left: 0;
	right: 0;
	margin: 0 auto;
}

@keyframes rotate {
	from {
		transform: rotate(0deg) scale(1);
	}
	to {
		transform: rotate(360deg) scale(1);
	}
}

main::after {
	content: "";
	display: block;
	height: 100%;
	width: 100%;
	position: absolute;
	/* box-shadow: 4px 3px 4px 0px inset rgb(0 0 0 / 38%), 6px 7px 7.3px inset rgb(0 0 0 / 11%), 13.5px 14.2px 17.5px inset rgba(0, 0, 0, 0.041), 20px 21px 58px inset rgba(0, 0, 0, 0.025); */
}
